/* Basic Reset */
body, h1, p, a {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

/* General Body Styling */
body {
    background-color: #121212;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    overflow-y: auto;
    transition: background-color 0.5s, color 0.5s;
}

/* Light mode styling */
body.light {
    background-color: #f0f0f0;
    color: #333;
}

/* Header Styling */
.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    padding: 20px;
}

#gameTitle {
    font-size: 40px;
    font-weight: bold;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.mode-toggle {
    cursor: pointer;
}

.mode-toggle span {
    font-size: 30px;
}

/* Game Container Styling */
.game-container {
    display: none;
    width: 570px;
    height: 450px;
    margin: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
    background-color: #333;
}

.game-container object {
    width: 100%;
    height: 100%;
}

/* Game Links Styling */
.game-names {
    margin-top: 30px;
}

.game-link {
    display: block;
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    margin-bottom: 20px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.game-link:hover {
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}
